<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Livros</title>
  </head>
  <body>
    <div th:fragment="form" class="text-white max-w-[60rem] relative mb-8">
      <hr class="border-1 border-teal-400/75 w-100 mx-auto my-2" />
      <div class="w-2/3">
        <h3
          th:text="${book.id == null ? 'Cadastrar Livro' : 'Alterar Livro'}"
          class="text-teal-200 text-left text-2xl font-black uppercase"
        ></h3>
        <div class="flex absolute top-0 right-0 mt-2 mr-4">
          <button
            id="book-form__cancel-btn"
            th:hx-get="${book.id == null ? '/books/table' : '/books/' + book.id}"
            hx-target="#books-list__wrapper"
            class="text-sm text-slate-400 hover:underline decoration-teal-200"
          >
            Cancelar
          </button>
        </div>

        <form
          id="movie__form"
          th:attr="hx-post=${book.id == null ? '/books' : null},
                   hx-put=${book.id != null ? '/books/' + book.id : null}"
          hx-trigger="submit"
          hx-target="#books-list__wrapper"
          th:object="${book}"
        >
          <p
            class="w-[35ch] sm:w-[45ch] lg:w-[75ch] my-2 font-serif text-lg flex flex-col"
          >
            <label
              for="book-title__inpt"
              class="text-slate-400 text-lg font-bold font-sans mb-2"
              >Título</label
            >
            <input
              id="book-title__inpt"
              type="text"
              name="title"
              maxlength="50"
              th:field="*{title}"
              required
              class="w-full sm:w-2/3 bg-transparent placeholder:text-slate-400 text-teal-200 text-lg font-sans font-bold border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              placeholder=""
            />
          </p>
          <p
            class="w-[35ch] sm:w-[45ch] lg:w-[75ch] my-2 font-serif text-lg flex flex-col"
          >
            <label
              for="book-title__inpt"
              class="text-slate-400 text-lg font-bold font-sans mb-2"
              >Autoria</label
            >
            <input
              id="book-author__inpt"
              type="text"
              name="author"
              maxlength="50"
              th:field="*{author}"
              required
              class="w-full sm:w-2/3 bg-transparent placeholder:text-slate-400 text-teal-200 text-lg font-sans font-bold border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              placeholder=""
            />
          </p>
          <div class="flex w-[35ch] sm:w-[45ch] lg:w-[75ch]">
            <p
              class="w-1/4 max-w-fit my-2 mr-4 font-serif text-lg flex flex-col"
            >
              <label
                for="book-year__inpt"
                class="text-slate-400 text-lg font-bold font-sans mb-2"
                >Ano</label
              >
              <input
                id="book-year__inpt"
                type="text"
                name="year"
                minlength="4"
                maxlength="4"
                pattern="[0-9]{4}"
                th:field="*{year}"
                class="w-[6ch] bg-transparent placeholder:text-slate-400 placeholder:font-bold text-teal-200 text-lg font-sans border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
                placeholder=""
              />
            </p>
            <p
              class="w-full sm:w-[49%] lg:w-[56%] my-2 font-serif text-lg flex flex-col"
            >
              <label
                for="book-publisher__inpt"
                class="text-slate-400 text-lg font-bold font-sans mb-2"
                >Editora</label
              >
              <input
                id="book-publisher__inpt"
                type="text"
                name="publisher"
                maxlength="50"
                th:field="*{publisher}"
                class="w-full bg-transparent placeholder:text-slate-400 text-teal-200 text-lg font-sans border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
                placeholder=""
              />
            </p>
          </div>
          <div class="flex w-[35ch] sm:w-[45ch] lg:w-[75ch]">
            <p
              class="w-1/4 max-w-fit my-2 mr-4 font-serif text-lg flex flex-col"
            >
              <label
                for="book-pages__inpt"
                class="text-slate-400 text-lg font-bold font-sans mb-2"
                >Páginas</label
              >
              <input
                id="book-pages__inpt"
                type="text"
                name="pages"
                maxlength="4"
                pattern="[0-9]*"
                th:field="*{pagesCount}"
                class="w-[6ch] bg-transparent placeholder:text-slate-400 placeholder:font-bold text-teal-200 text-lg font-sans border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
                placeholder=""
              />
            </p>
            <p
              class="w-full sm:w-[49%] lg:w-[56%] my-2 font-serif text-lg flex flex-col"
            >
              <label
                for="book-isbn__inpt"
                class="text-slate-400 text-lg font-bold font-sans mb-2"
                >ISBN</label
              >
              <input
                id="book-isbn__inpt"
                type="text"
                name="isbn"
                maxlength="13"
                th:field="*{isbn}"
                class="w-full bg-transparent placeholder:text-slate-400 text-teal-200 text-lg font-sans border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
                placeholder=""
              />
            </p>
          </div>
          <p
            class="w-[35ch] sm:w-[45ch] lg:w-[75ch] my-2 font-serif text-lg flex flex-col"
          >
            <label
              for="book-synopsis__inpt"
              class="text-slate-400 text-lg font-bold font-sans mb-2"
              >Sinopse</label
            >
            <textarea
              id="book-synopsis__inpt"
              name="synopsis"
              th:field="*{synopsis}"
              class="w-full sm:w-2/3 h-40 bg-transparent placeholder:text-slate-400 text-teal-200 text-lg font-sans border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
            ></textarea>
          </p>

          <p class="w-[35ch] sm:w-[45ch] lg:w-[75ch] my-2 font-serif text-lg">
            <span class="w-2/3 flex justify-end">
              <button
                id="book-form__submit-btn"
                type="submit"
                class="text-lg text-slate-400 mx-4 hover:underline decoration-teal-200"
              >
                Salvar
              </button>
            </span>
          </p>
        </form>
      </div>
      <script>
        $('#book-form__cancel-btn').on('click', () => {
          $('#new-book__btn').css('visibility', 'visible');
        });

        $('#book-form__submit-btn').on('click', () => {
          $('#new-book__btn').css('visibility', 'visible');
        });
      </script>
    </div>
  </body>
</html>
