<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comentários</title>
  </head>
  <body>
    <div th:fragment="list">
      <div class="flex w-[35ch] sm:w-[45ch] lg:w-[75ch] justify-start mt-8">
        <button
          th:id="'hide-comments__' + ${mediaId}"
          class="hide-comments text-sm text-slate-400 hover:underline decoration-slate-400"
        >
          Ocultar comentários
        </button>
        <p class="text-sm text-slate-400 mx-2">|</p>
        <button
          th:hx-get="${mediaType == 'MOVIE' ? '/movies/' : '/books/'} + ${mediaId} + '/comments/new'"
          th:hx-target="'#comments__' + ${mediaId}"
          class="text-sm text-slate-400 hover:underline decoration-slate-400"
        >
          Incluir comentário
        </button>
      </div>
      <h4 class="text-slate-400 text-left text-xl font-black uppercase mb-2">
        Comentários
      </h4>

      <p th:if="${comments.empty}" class="text-lg font-bold font-sans my-4">
        Nenhum comentário.
      </p>

      <div th:each="comment:${comments}" class="my-4">
        <div
          th:id="'comment-header__' + ${comment.id}"
          class="show-on-hover flex"
        >
          <p class="font-mono text-lg font-bold">
            <span class="text-sm">⭐</span>
            <span th:text="${comment.rating}"></span
            ><span class="text-sm">/10</span>
          </p>
          <button
            type="button"
            th:id="'close-comment-btn__' + ${comment.id}"
            th:hx-delete="'/comments/' + ${comment.id} + '/' + ${comment.mediaType} + '/' + ${comment.mediaId}"
            th:hx-target="'#comments__' + ${comment.mediaId}"
            hx-confirm="Remover comentário?"
            class="text-xs text-slate-400 leading-4 ml-[1ch] cursor-pointer hidden hover:underline decoration-slate-400 font-sans"
          >
            Deletar
          </button>
        </div>

        <p
          th:text="'❯ ' + ${comment.title}"
          class="font-mono text-lg font-bold"
        ></p>
        <p
          th:text="${#dates.format(comment.createdAt, 'dd/MM/yyyy HH:mm')}"
          class="text-xs text-slate-400 leading-4 px-4"
        ></p>
        <p
          th:text="${comment.content}"
          class="font-mono w-[35ch] sm:w-[45ch] lg:w-[75ch] px-4 py-4 whitespace-pre-wrap"
        ></p>
      </div>
      <script>
        $('button.hide-comments').on('click', e => {
          const mediaId = $(e.target).attr('id').replace('hide-comments__', '');
          $(`#comments__${mediaId}`).html('');
          $(`#comments-btns__${mediaId}`).show();
        });

        $('div.show-on-hover').on('mouseenter', e => {
          let el = $(e.target);

          let maxCount = 4;
          while (!el.is('div') || !el.attr('id')) {
            el = el.parent();
            maxCount--;

            if (maxCount == 0) {
              return;
            }
          }

          const mediaId = el.attr('id').replace('comment-header__', '');
          $(`#close-comment-btn__${mediaId}`).show();
        });

        $('div.show-on-hover').on('mouseleave', e => {
          let el = $(e.target);

          let maxCount = 4;
          while (!el.is('div') || !el.attr('id')) {
            el = el.parent();
            maxCount--;

            if (maxCount == 0) {
              return;
            }
          }

          const mediaId = el.attr('id').replace('comment-header__', '');
          $(`#close-comment-btn__${mediaId}`).hide();
        });
      </script>
    </div>
  </body>
</html>
