<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <title>LIME | Livros e Filmes</title>
  </head>
  <body th:fragment="list" class="bg-slate-950 min-w-[22rem] sm:min-w-[32rem]">
    <div class="flex justify-center items-center sm:justify-start mx-8 my-4">
      <p
        hx-get="/"
        hx-target="body"
        hx-push-url="true"
        class="text-2xl font-black uppercase text-teal-200 mr-2 hover:cursor-pointer"
      >
        LIME
      </p>
      <p
        class="text-2xl uppercase text-teal-200 mr-2 hover:cursor-pointer collapse sm:visible"
      >
        |
      </p>
      <p
        hx-get="/"
        hx-target="body"
        hx-push-url="true"
        class="text-lg uppercase text-teal-200 mr-2 hover:cursor-pointer collapse sm:visible hover:underline decoration-teal-200"
      >
        Livros
      </p>
      <p
        class="text-2xl uppercase text-teal-200 mr-2 hover:cursor-pointer collapse sm:visible"
      >
        |
      </p>
      <p
        class="text-lg uppercase font-bold text-teal-200 mr-2 collapse sm:visible"
      >
        Filmes ❯
      </p>
    </div>
    <div id="main-wrapper" class="w-full sm:w-3/4 mx-auto my-8 py-4 sm:px-6">
      <div class="text-white max-w-[60rem] mx-auto">
        <h2
          class="text-teal-200 text-center text-5xl sm:text-6xl font-black uppercase mb-8"
        >
          Filmes
        </h2>
        <div
          class="flex justify-end my-2 mr-4 hover:underline decoration-teal-200"
        >
          <button
            id="new-movie__btn"
            hx-get="/movies/new"
            hx-target="#movies-list__wrapper"
            class="text-sm text-slate-400"
          >
            Novo Filme
          </button>
        </div>

        <div id="movie-form__wrapper" class="hidden"></div>

        <div th:fragment="table" id="movies-list__wrapper">
          <div
            th:if="${!movies.empty}"
            class="grid grid-cols-[1fr_auto_1fr_auto] justify-items-center font-bold uppercase"
          >
            <p class="px-4 py-2">Título</p>
            <p class="px-4 py-2">Ano</p>
            <p class="px-4 py-2">Gênero</p>
            <p class="px-4 py-2 min-w-[5ch]">&nbsp;</p>
          </div>

          <hr class="border-teal-400/75 mx-auto my-2" />

          <p
            th:if="${movies.empty}"
            class="text-lg text-center font-bold font-sans my-4"
          >
            Nenhum filme cadastrado.
          </p>
          <div th:each="movie:${movies}">
            <div
              th:id="'list-wrapper__' + ${movie.id}"
              class="grid grid-cols-[1fr_auto_1fr_auto] justify-items-center"
            >
              <p th:text="${movie.title}" class="text-center px-4 py-2"></p>
              <p
                th:text="${movie.year != 0 ? movie.year : '----'}"
                class="text-center px-4 py-2"
              ></p>
              <p
                th:text="${movie.genre != '' ? movie.genre : '----'}"
                class="text-center px-4 py-2"
              ></p>
              <p class="text-center px-4 py-2">
                <button
                  th:hx-get="'/movies/' + ${movie.id}"
                  hx-target="#movies-list__wrapper"
                  th:id="'details-btn__' + ${movie.id}"
                  type="button"
                  class="details-toggler min-w-4"
                >
                <img th:src="@{icons/info-icon.png}" alt="Info" title="Ver Detalhes" class="w-4 h-4">
                </button>
                <button
                  th:id="'close-details-btn__' + ${movie.id}"
                  type="button"
                  class="details-toggler min-w-4 hidden"
                >
                  ✕
                </button>
              </p>
            </div>

            <div th:id="'details__' + ${movie.id}" class="hidden"></div>
            <hr class="border border-teal-400/75 mx-auto my-2" />
          </div>
          <script>
            $('#new-movie__btn').on('click', _ => {
              $('#new-movie__btn').css('visibility', 'hidden');
            });
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
