<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <title>LIME | Livros e Filmes</title>
  </head>
  <body class="bg-slate-950 min-w-[22rem] sm:min-w-[32rem]">
    <!-- Main Wrapper -->
    <div id="main-wrapper" class="w-full sm:w-3/4 mx-auto my-8 py-4 sm:px-6">
      <h1
        class="text-teal-200 text-center font-serif text-7xl sm:text-9xl font-black uppercase"
      >
        LIME
      </h1>
      <p
        class="text-white text-center max-w-full sm:text-xl w-[35ch] sm:w-[38ch] md:w-[50ch] mx-auto my-4"
      >
        Comentários sinceros sobre livros e filmes<br />
        feitos por pessoas como eu e você.
      </p>
      <p
        class="text-white text-center max-w-full sm:text-xl w-[35ch] sm:w-[38ch] md:w-[50ch] mx-auto my-4"
      >
        Aqui no LIME você também pode contribuir com nossa comunidade, deixando
        comentários sobre as mídias já cadastradas e até incluindo outros filmes
        e livros sobre os quais você gostaria de dar sua opinião.
      </p>
      <p
        class="text-white text-center max-w-full sm:text-xl font-bold w-[35ch] sm:w-[38ch] md:w-[50ch] mx-auto my-4"
      >
        Vem ser um LIMER você também!
      </p>

      <!-- Buttons Wrapper -->
      <div class="w-full sm:w-2/3 mx-auto my-8 py-4 px-2 flex justify-around">
        <button
          type="button"
          hx-get="/books/list"
          hx-target="body"
          hx-push-url="/books"
          class="border-2 border-teal-600 rounded-md uppercase text-teal-200 text-center sm:text-lg font-serif font-black mx-4 py-2 px-8 hover:bg-teal-600/50 hover:text-white"
        >
          Livros
        </button>
        <button
          type="button"
          hx-get="/movies/list"
          hx-target="body"
          hx-push-url="/movies"
          class="border-2 border-teal-600 rounded-md uppercase text-teal-200 text-center sm:text-xl font-serif font-black mx-4 py-2 px-8 hover:bg-teal-600/50 hover:text-white"
        >
          Filmes
        </button>
      </div>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="w-full mx-auto px-4"></div>
    </div>
    <script th:src="@{js/index.js}" defer></script>
  </body>
</html>
